@font-face {
      font-family: 'font-logo';
      src: local('font-logo'), url('./assets/fonts/Nexa-Heavy.ttf') format('truetype');
    }
@font-face {
      font-family: 'font-base';
      src: local('font-base'), url('./assets/fonts/Quicksand-Medium.ttf') format('truetype');
    }
@font-face {
      font-family: 'font-span';
      src: local('font-span'), url('./assets/fonts/Quicksand-Bold.ttf') format('truetype');
    }